* {
	box-sizing: border-box;
}
.container{
	max-width: 1200px;
	margin: auto;
} 
header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}
.input{
	padding: 8px;
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: 2px;
	font-size: 16px;
	line-height: 24px;
	padding-left: 35px; 
	
}
.addres-input{
	width: 690px;
	flex:0.8;
	background-image: url(../img/Vector.svg);
	background-repeat: no-repeat;
	background-position: left 11px center;
	padding-left: 35px; 
}
.input-search{
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	background-position: left 11px center;
	width: 300px;
}
.buttom{
	/*display: flex;*/
	vertical-align: middle;
	display: inline-block;

}

.button{

	padding: 8px 16px;
	background: #fff;
	position: static;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	background: #FFFFFF;
	padding: 8px 16px;
	/* Gray / gray-5 */
	
	border: 1px solid #D9D9D9;
	box-sizing: border-box;
	/* ghost button shadow */
	
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
	border-radius: 2px;
	
}
.button-primary{
	background-color: #1890ff;
	border: 1px solid #1890ff;
	color: #fff;
}
.b-i{
	margin-right: 6px;
	vertical-align: middle;
}
.b-t{
	vertical-align: middle;
}
body{
	font-family: 'Roboto', sans-serif;
	padding-top: 44px;
}
.promo{
	box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
	background: #FFF1B8 url(../img/pizza.png) no-repeat top 73px right -111px/796px;
	border-radius: 10px;
	padding: 68px 70px;
	margin-bottom: 56px;

}
.promo-text{
	max-width: 538px;
	font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #302C34;
}
.promo-title{
font-style: normal;
font-weight: bold;
font-size: 39px;
line-height: 46px;
margin: 0;

color: #302C34;
}
.section-heading{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 44px;

}
.card{
background: #FFFFFF;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
border-radius: 7px;
overflow: hidden;
margin-bottom: 30px;
flex-basis: 32%;


}
.cards{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}
.card-img{
	max-width: 384px;
	max-height: 250px;
	object-fit: cover;

}
.card-text{
	padding-top: 20px;
	padding-bottom: 35px;
	padding-left: 23px;
	padding-right: 23px;
}
.card-heading{
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.card-title{
	 font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */


color: #000000;
}
.card-tag{
	font-style: normal;

font-size: 12px;
line-height: 20px;
/* identical to box height, or 133% */
border-radius: 2px;
padding: 1px 8px;

color: #fff;
background-color: #262626;

}
.card-info{
	display: flex;
	align-items: center;

}
.rating{
margin-right: 26px;
color: #ffc107;
}
.price, .category{
	font-size: 18px;
line-height: 32px;

color: #8C8C8C;
}
.price{
	margin-right: 10px;
}
.price:after {
	content: "";
	width: 5px;
	height: 5px;
	background-color: #8C8C8C;
	vertical-align: middle;
	display: inline-block;
	border-radius: 50%;
	margin-left: 10px;


}
main{
	background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
.footer{
	padding: 60px 0;
}
.footer-block{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer-link{
	display: inline-block;
	color: #595959;
	text-decoration: none;
}
.footer-link:not(:last-child){
	margin-right: 15px;
}
.footer-nav{
	margin-right: auto;
	margin-left: 35px;
}
.s-l{
	/*display: flex;
	align-items: center;*/
	margin-right: 15px;

}
.category{
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 150px;
}
.social-links:(:last-child){
	/*margin-right: 015px;*/
		display: flex;
	align-items: center;
	justify-content: space-between;
}
.modal{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);

}
@media (max-width: 1366px) {
	.container{
		max-width: 960px;
	}
	.promo{
		background-size: 700px;
		background-position: top right -300px;

	}
	.category, .price{
		font-size: 14px;
	}
}
@media (max-width: 992px) {
	.container{
		max-width: 750px;
	}
	.promo{
		padding: 50px;
		background-size: 500px;
		background-position: center right -200px;
	}
	.promo-text{
		font-size: 18px;
		max-width: 400px;
	}
	.card{
		flex-basis: 49%;
	}
	.footer-link{
		font-style: 16px;
	}
}
@media(max-width: 768px){
	.comtainer{
		max-width: 560px;
	}
	.rating{
		flex-basis: 100%;
	}
	.card-info{
		flex-wrap: wrap;
		
	}
	.card-title{
		font-size: 18px;

	}
	.promo-title{
		font-style: 24px;
		line-height: 1.4;

	}
	.promo{
		background-size: 400px;
		background-position: bottom 50px right -200px;
	}
	.promo-text{
		margin-top: 0;
	}
}
@media (max-width: 380px) {
	.container{
		width: 90%;
	}
	header{
		flex-wrap: wrap;

	}
	.addres-input{
		margin-top:15px;
		order:5;
		flex:1;
	}
	.promo{
		background-image: none;
	}
	.promo-title{
		margin-bottom: 10px;
	}
	.section-title{
		font-size: 20px;
	}
	.card{
		flex-basis: 100%;
	}
	.card-imge{
		width: 100%;
	}
	.nav{
		order:0;
		margin-left: 0;
	}
	.footer-logo{
		order:1;

	}
	.s-l{
		order:2;
	}
	footer{
		padding: 30px;
	}
	.footer-logo{
		margin-right: 15px;

	}
}